.login{
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
}
.cadastro{
    text-align: center;
}
#imgLogin{
    font-size: 30px;
    filter: blur(0.5px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    border-radius: 15px;
    width: 130vh;
    margin-left: 225px;
    height: 170px;   
    padding: 20px;
    background-image: url("assets/unnamed.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
#textCadastro{

    font-size: 70px;
    filter: blur(0.5px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    border-radius: 15px;
    width: 130vh;
    margin-left: 40px;
    margin-top: -30px;
    height: 160px;   
    padding: 20px;
    background-image: url("assets/unnamed.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}
body{

    font-family: Arial, sans-serif;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#username{
    padding: 4px;
    border-radius: 4px;
    border-color: #b8b8b8;
    
}
#newUsername{

    padding: 4px;
    border-radius: 4px;
    border-color: #b8b8b8;
    

}
#newEmail{

    padding: 4px;
    border-radius: 4px;
    border-color: #b8b8b8;

}
#senha{

    padding: 4px;
    border-radius: 4px;
    border-color: #b8b8b8;



}
#newSenha{

    padding: 4px;
    border-radius: 4px;
    border-color: #b8b8b8; 


}
#cadastrar{

    width: 30vw;
    height: 40vh;
    text-align: center;
    box-shadow: #000000;
    border: 1px solid rgb(70, 71, 72);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 7px;
    margin-left: 240px;
    

}
#tituloCadastro{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    transform: rotate(270deg);
    color: #868080;
    margin-right: 290px;
    margin-top: 130px;

}
#cadastre-se{
    font-size: 20px;
    color: #5d5d5d;
    margin-top: -208px;
}

button {    
   
    width: 25vh;
    padding: 7px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
}

#confirmSenha{

    padding: 4px;
    border-radius: 4px;
    border-color: #b8b8b8;

}
#textLogar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    transform: rotate(270deg);
    color: #868080;
    margin-right: 300px;
    margin-top: 100px;
    
}

#inputLogin{
    width: 27vw;
    height: 30vh;
    text-align: center;
    box-shadow: #5d5d5d;
    border: 1px solid rgb(70, 71, 72);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 7px;
    margin-left: 240px;
    

}

#BotaoDois{
    color: #868080;
    margin-top: -170px;
    margin-left: 410px;
    border-radius: 10px;

}
#texto2{
   margin-top: -190px;
   font-size: 20px;
   color: #5d5d5d;

}
#logoLogin{
    height: 15%;
    width: auto;
    margin-left: 200px;
    padding: 20px;
    top: 0;
}
#logoCadastro{

    height: 100px;
    width: auto;
    margin-right: 130px;
    padding: 20px;
    top: 0;

}


#pesquisarLogin{
    position: relative;
    text-align: left;
    width: 35vw;
    height: 3vh;
    top: -60px;
    right: 10px;
}
#pesquisarCadastro{
    position: relative;
    text-align: left;
    width: 35vw;
    height: 3vh;
    top: -60px;
    right: 120px;
    
    padding: 4px;
    border-radius: 4px;
    border-color: #b8b8b8; 
}


.global {
    background-color: #ffffff;
    padding: 20px;
    width: 100vw;
    height: 100vh;
}

button:hover {
    background-color: #5fa262;
}
#logo{
    height: 80px;
    width: auto;
    padding: 20px;
    margin-left: 10px;
    top: 0;
}
#pesquisar{
    position: relative;
    width: 26vw;
    height: 3vh;
    top: 45px;
    left: 22vw;
    padding: 4px;
    border-radius: 4px;
    border-color: #636262; 
}
#entrar{
    position: relative;
    width: 7vw;
    height: 5vh;
    top: 45px;
    left: 35vw;
    background-color: #4cb151;
    color: #fff;
    border-radius: 7px;
}
.cabecalho{
    height: min-content;
    width: 98vw;
    display: inline-flex;
    gap: 10px;
    margin-bottom: 520px;
    background-color: #636262;
    border-radius: 7px;
    top: 0;    
}
#pesquisarHome{
    position: relative;
    width: 5vw;
    height: 5vh;
    top: 35px;
    left: 21.9vw;
    background-color: #636262 ;
    border: #fff;



}
#iconPesquisar{

width: 25px;

}
.card{

    margin-top: 200px;


}

