.login{
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
}
.cadastro{
    text-align: center;
}
h1{

    align-items: center;

}
#imgLogin{
    font-size: 30px;
    filter: blur(0.5px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    border-radius: 7px;
    width: 130vh;
    margin-left: 225px;
    height: 170px;   
    padding: 20px;
    background-image: url("unnamed.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
body{

    font-family: Arial, sans-serif;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#inputBoder{

    border-radius: 15px;

}
#inputLogin{
    width: 22vw;
    height: 23vh;
    text-align: center;
    box-shadow: #5d5d5d;
    border: 1px solid rgb(70, 71, 72);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 7px;
    margin-left: 240px;
    

}
#BotaoDois{
    
    margin-left: 300px;
    border-radius: 10px;

}
#logoLogin{
    height: 15%;
    width: auto;
    margin-left: 200px;
    padding: 20px;
    top: 0;
}

#pesquisarLogin{
    position: relative;
    text-align: left;
    width: 35vw;
    height: 3vh;
    top: -60px;
    right: 10px;
}

.global {
    background-color: #efefef;
    padding: 20px;
    width: 100vw;
    height: 100vh;
}

button {    
   
    width: 25vh;
    padding: 7px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #5fa262;
}
#logo{
    height: 75px;
    width: auto;
    padding: 20px;
    top: 0;
}
#pesquisar{
    position: relative;
    width: 20vw;
    height: 3vh;
    top: 45px;
    left: 25vw;
}
#entrar{
    position: relative;
    width: auto;
    height: 4vh;
    top: 45px;
    left: 55vw;

}
.cabecalho{
    height: min-content;
    width: 98vw;
    display: inline-flex;
    gap: 10px;
    top: 0;    
}